SECRET_KEY=key_value
APP_ENV=integration
DEBUG=true
LOG_LEVEL=info
REGION_NAME=us-east-2
SQS_ENDPOINT=https://sqs.us-east-2.amazonaws.com
APP_QUEUE=https://sqs.us-east-2.amazonaws.com/000000000000/test-queue
API_SERVER=
API_SERVER_DESCRIPTION=Staging server
API_ROOT = ""
LOCAL_API_SERVER=http://localhost:5000
LOCAL_API_SERVER_DESCRIPTION=Development server
REDIS_HOST=test.something.0001.use2.cache.amazonaws.com
REDIS_PORT=6379
DB_HOST=mysql
DB_USER=root
DB_PASSWORD=store
DB=store
AWS_ACCOUNT_ID = 000000000000