SECRET_KEY=key_value
APP_ENV=integration
DEBUG=true
LOG_LEVEL=info
REGION_NAME=us-east-2
SQS_ENDPOINT=https://sqs.us-east-2.amazonaws.com
SQS_LOCALSTACK=http://localhost:4566
APP_QUEUE=https://sqs.us-east-2.amazonaws.com/000000000000/test-queue
API_SERVER=https://service.hagatus.com.br
API_SERVER_DESCRIPTION=Staging server
LOCAL_API_SERVER=http://localhost:5000
LOCAL_API_SERVER_DESCRIPTION=Development server
REDIS_HOST=test.something.0001.use2.cache.amazonaws.com
REDIS_PORT=6379